#container{
    width: 700px;
    height: 450px;
    margin: 70px auto;
    border: 2px solid rgb(125, 181, 66);
}
h2{
    color: rgb(125, 181, 66);
    text-align: center;
    
}
#projects{
    width: 650px;
    height: 300px;
    margin: 0px auto;
}

ol li{
    border: 1px dotted black;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 5px;
    
}

ol li:hover{
    background: #e9e9e9;
}

#container2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.ui-icon-close{
    transform: scale(0.9);
    cursor: pointer;
}